<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="padding-left: 1%;">Room Management Service</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="homepage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="addReservation">Add room reservation</a>
        </li>

        <li class="nav-item" *ngIf="isLogged==false">
          <a class="nav-link" href="login">Login</a>
        </li>

        <li class="nav-item" *ngIf="isLogged==true">
          <a class="nav-link" href="viewPersonalReservations/{{userId}}">My reservations</a>
        </li>
        <li class="nav-item" *ngIf="isLogged==true">
          <a class="nav-link" href="logout">Logout</a>
        </li>

        
      </ul>
    </div>
  </nav>