<div class="container">
    <div class="reservation-homepage-show">
        <h2>{{selectedRoom.roomName}}</h2>
        <h3>Submitted reservations</h3>
        <table class="table" *ngIf="reservationList.length > 0">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Start datetime</th>
                    <th>End datetime</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservationList" >
                    <td>{{ownerList.get(reservation.reservationOwner)}}</td>
                    <td>{{reservation.startDateTime | date:'dd-MM-yyyy, HH:mm'}}</td>
                    <td>{{reservation.endDateTime | date:'dd-MM-yyyy, HH:mm'}}</td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-info" role="alert" *ngIf="reservationList.length == 0">
            No reservations found for {{selectedRoom.roomName}}
          </div>
    </div>
</div>