<div class="container">
    <div class="reservation-homepage-show">
        <h2>{{fullName}}</h2>
        <h3>Submitted reservations</h3>
        <table class="table" *ngIf="reservationList.length > 0">
            <thead>
                <tr>
                    <th>Room</th>
                    <th>Start datetime</th>
                    <th>End datetime</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservationList" >
                    <td>{{roomList.get(reservation.reservedRoom)}}</td>
                    <td>{{reservation.startDateTime | date:'dd-MM-yyyy, HH:mm'}}</td>
                    <td>{{reservation.endDateTime | date:'dd-MM-yyyy, HH:mm'}}</td>
                    <td><button type="button" class="btn btn-info" (click)="updateReservation()">Update details</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="deleteReservation(reservation.reservationID)">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-info" role="alert" *ngIf="reservationList.length == 0">
            No reservations found for {{fullName}}
          </div>
    </div>
</div>